@import 'color','variables';
@import 'activity';
body{
    font-family: $fontFamily;
    font-weight: 400;
    font-size: 14px;
    color: $textColor;
    background-color: #fff;
}
.rs_btn{
    background-color: $btnBackgroundColor;
    border-color: $btnBorderColor;
    color:$btnColor;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 4px;
}
.rs_btn.primary_border{
    background-color: transparent;
    border-color: $primaryColor;
    color: $primaryColor;
}
.rs_btn:hover{
    background-color: $primaryColor;
    border-color: $primaryColor;
    color:#fff;
}
.form-group {
    margin-bottom: 20px;
    label{
        font-size: 14px;
        display: block;
        margin-bottom: 5px;
        font-family: $fontFamily;
    }
    .rs_input_box_wraper{}
    .input_placeholder,
    .form-control {
        font-family: $fontFamily;
        border-radius: 2px;
        height: 40px;
        margin: 0;
        border: 1px solid #d4ded9;
        outline: none !important;
        box-shadow: none !important;
    }
    .input_placeholder{
        background-color: rgba(0,0,0,0.05);
    }
    textarea.form-control{
        height: 150px;
    }
}
.login_register_page{
    margin:0;
    padding: 0;
    background-color: #E7EDEE;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .header_login_register{
        margin-bottom: auto;
    }
    .form_box{
        background: #fff;
        margin: 0 auto auto auto ;
        display: block;
        width: 500px;
        box-sizing: border-box;
        padding: 50px 30px;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        .logo_login{
            display: block;
            text-align: center;
            margin: 0 0 30px 0;
        }
        .logo_login img{
            display: inline-block;
            margin:0 auto;
        }
    }
    .btn_links{
        justify-content: space-between;
        align-items: center;
        .link{
            color:$textColor;
            font-weight: 500;
            text-decoration: none;
        }
    }
}

.main_header_section{
    background-color:  #fff;
    padding: 20px 0;
    position: static;
    z-index: 100;
    .logo{
        display: block;
        margin: 0;
        padding: 0;
        cursor: pointer;
        text-decoration: none;
        img{
            display: block;
            margin: 0;
            padding:0;
            width: 150px;
            max-width: 100%;
        }
    }
    .header_main_row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header_main_row .left_section{}
    .header_main_row .right_section{
        display: flex;
        margin: 0;
        padding: 0;
        gap: 30px;
    }
    .main_nav{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        align-self: center;
        align-items: center;
        li{
            display: block;
            float: left;
        }
        li a{
            display: block;
            color: $textColor;
            font-weight: 500;
            padding: 0 15px;
            overflow: hidden;
            text-decoration: none;
        }
        li a .label{float: left;}
        li a .icon{
            float: left;
            color: #fff;
            background: $primaryColor;
            display: block;
            min-width: 26px;
            text-align: center;
            border-radius: 20px;
            padding: 5px;
            margin-left: 5px;
            font-size: 12px;
            line-height: 15px;
        }
    }
    .widgets_lists{

        .dropdown_widget{
            position: relative;
            .dropdown_widget_controller {
                cursor: pointer;
                span{
                    display: block;
                    color: #fff;
                    font-size: 18px;
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    padding: 0;
                    line-height: 50px;
                    font-weight: 300;
                    border-radius: 50%;
                    background: $primaryColor;
                    text-transform: uppercase;
                }
            }
            .dropdown_items{
                display: none;
                position: absolute;
                top: 100%;
                right: 0;
                background: #fff;
                z-index: 100;
                box-sizing: border-box;
                box-shadow: 0 0 4px rgba(0,0,0,.1);
                min-width: 170px;
                padding: 0;
                margin: 0;
                list-style: none;
                a{
                    display: block;
                    text-decoration: none;
                    color: $textColor;
                    font-size: 14px;
                    font-weight: 400;
                    padding: 10px;
                }
                a:hover{
                    color: $primaryColor;
                }
            }
        }
        .dropdown_widget:hover .dropdown_items{
            display: block;
        }
    }
}
.tab_navs_section{
    .tab_navs_items{
        display: inline-flex;
        margin: 0;
        padding: 0;
        background: transparent;
        border-radius: 40px;

    }
    .tab_navs_items a{
        display: block;
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        padding: 10px 20px;
        font-weight: 500;
        cursor: pointer;
        border-radius: 40px;

    }
    .tab_navs_items a.active{
        background-color: transparent;
        color: $primaryColor;
    }
    .tab_navs_items a .item{}
    .tab_navs_items a .item span{}
    .tab_navs_items a .item .icon{
        color: $primaryColor;
        background: #fff;
        display: inline-block;
        padding: 0 5px;
        border-radius: 50%;
        font-size: 13px;
        font-weight: 400;
        min-width: 20px;
        text-align: center;
        margin-left: 6px;
    }
}
.secondery_header_wraper{
    background: #0d2e41;
    padding:10px 0;
    margin:0 0 30px 0;
}

.secondery_header{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 20px 0;
    align-items: center;
    .left_items{}
    .right_items{}
    .rs_btn{
        height: 50px;
    }
    h2{
        color: #fff;
        font-size: 20px;
        margin: 0;
        padding: 0;
        font-weight: 400;
    }
}
.popup_section{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    background: rgba(0,0,0,.5);
    height: 100vh;
    overflow: auto;
    .title{
        font-size: 18px;
        font-weight: 500;
        margin: 0;
        margin-bottom: 0px;
        margin-bottom: 20px;
    }
    .popup_controller{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .popup_container{
        position: relative;
        z-index: 100;
        background: #fff;
        display: block;
        text-align: left;
        box-sizing: border-box;
        padding: 20px;
        width: 900px;
        max-width: 100%;
        margin: 30px auto;
        left: 0;
        right: 0;
        top: 0;
        box-shadow: 0 0 16px rgba(255,255,255,0.5);
        border-radius: 5px;
    }
    .popup_close{
        position: absolute;
        left: 100%;
        top: 0;
        display: block;
        width: 30px;
        height: 30px;
        background: #fff;
        text-align: center;
        color: #000;
        font-size: 16px;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 8px;
        padding-top: 1px;
    }
    .popup_contents{
        display: block;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
}
.main_app_layout{
    .form-group {
        label{}
        .rs_input_box_wraper {}
        .rs_input_box_wraper .form-control {}
    }
}
.deals_piplelins{
    overflow: auto;
    display: block;
    padding: 20px 0;
    .deals_piplelins_row{
        display: flex;
        gap: 15px;
        min-height: 80vh;
        .deals_piplelins_item{}
    }
    .deals_piplelins_item_inner{
        display: block;
        min-width: 200px;
        background: #F8F9FA;
        min-height: 100%;
        box-sizing: border-box;
        padding: 15px;
        .deals_piplelins_item_title{
            font-size: 16px;
            margin: 0;
            padding:10px 0 15px 0;
            font-weight: 500;
            color: #000;
            white-space: nowrap;
        }
        .deals_piplelins_contents{}
        .pipeline_widget{
            display: block;
            border: 1px solid #dbdbdb;
            padding: 5px;
            border-radius: 4px;
            background: #fff;
            cursor: pointer;
            box-shadow: 0 0 5px rgba(0,0,0,.05);
            margin-bottom: 10px;
            .dpw_title{
                font-size: 14px;
                font-weight: 500;
                color: #333;
                margin: 0 0 5px 0;
            }
            ul{
                display: block;
                list-style: none;
                margin: 0;
                padding: 0;
                font-size: 12px;
                font-weight: 400;
            }
            ul li{
                display: block;
                margin-bottom: 2px;
                overflow: hidden;
                span{
                    color: $primaryColor;
                    font-weight: 600;
                }
            }
        }
    }
}

.deal_deatils_section{
    .deal_header{
        .dh_items{
            align-items: center;
            //justify-content: space-between;
            padding: 0;
            margin-bottom: 20px;
            gap: 30px;
        }
        .dh_item{
            .company{
                display: flex;
                align-items: center;
                img{
                    display: block;
                    max-width: 150px;
                    margin-right: 20px;
                }
                span{
                    display: block;
                    font-weight: 600;
                    font-size: 18px;
                }
            }
            .contact_details{
                display: block;
                margin: 0;
                padding: 0;
                h5{
                    font-weight: 500;
                    font-size: 16px;
                    display: block;
                    margin: 0 0 5px 0;
                }
                span{
                    display: block;
                    font-size: 14px;
                    font-weight: 400;
                    cursor: pointer;
                    margin-top: 5px;
                }
                .link{
                    display: block;
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 400;
                    cursor: pointer;
                }
                .link:hover{
                    color: $seconderyColor;
                }
            }
        }
    }
    .action_header{
        background: #F8F9FA;
        padding: 15px 30px;
        margin: 0;
        border-style: solid;
        border-width: 1px 0;
        border-color: #E1E2E3;

        .action_header_row{
            display: flex;
            justify-content: space-between;
            gap: 30px;
            align-items: center;
        }
        .left_items{
            display: flex;
            gap: 20px;
        }
        .left_items>div{
            span{
                font-weight: 600;
                margin-left: 10px;
            }
        }
        .right_items{
            display: flex;
            gap: 20px;
            align-items: center;
            .delete_btn{
                background: $dangerColor;
                border-color: $dangerColor;
                width: auto;
                padding: 11px 19px;
                color:#fff;
                opacity: 1;
                transition: all .5s;
            }
            .delete_btn:hover{
                opacity: .7;
            }
        }
    }
}
.dropdown_lg{}
.dropdown_lg{
    width: 300px;
    max-width: 100%;
    margin: 0;
    .select2-container--default .select2-selection--single {
        background-color: #fff;
        border: 1px solid #ebebeb;
        border-radius: 3px;
        height: 50px;
        padding: 0 20px;
        width: 300px;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
      
        font-size: 16px;
        font-weight: 400;
        color: $textColor;
        margin-top: 10px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 50px;
        width: 40px;
    }
}
.activity_with_tabs{
    padding-top:20px;
}
.tab{
    .tab_nav{
        display: flex;
        background: #F8F9FA;
        margin: 0;
        padding: 0;
        border-radius: 50px;
        align-items: center;
        .tab_nav_item{
            padding: 10px 30px;
            font-size: 14px;
            font-weight: 400;
            cursor: pointer;
            border-radius: 50px;
        }
        .tab_nav_item.active{
            background-color: $primaryColor;
            color: #fff;
        }
    }
}
.property_create_page{
    .property_form{
        padding:70px 0;
        width: 700px;
        max-width: 100%;
    }
}

.custom_checkbox_option{
    display: block;
    overflow: hidden;
    background: #E7EDEE;
    margin: 10px 0;
    span{
        display: block;
        float: left;
        padding: 8px 15px;
        margin: 5px 5px 0 5px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
    }
    span.active{
        background: #747A7B;
        color:#fff;
    }
}
.section_title{
    color: $textColor;
    background-color: $bgColorLight;
    margin: 20px 0 10px 0;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 10px;
}
.file_uploader_section{
    display: block;
    margin: 20px 0;
    .file_uploader{
        display: inline-block;
        border: 1px dashed rgba(0,0,0,.2);
        padding: 15px;
        border-radius: 10px;
    }
    .file_list{
        display: flex;
        justify-content: left;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px;
        border: 1px solid rgba(0,0,0,.1);
        margin-top: 10px;
        max-height: 300px;
        overflow: auto;
    }
    .file_uploader_item{ 
        display: block;
        width: 200px;
        max-width: 46%;
        .file_details{
            display: flex;
            text-decoration: none;
        }
        .icon{
            width: 25px;
            height: 25px;
            margin-right: 9px;
            min-width: 25px;
            img{
                max-width: 100%;
                margin:0;
                padding:0;
                display: block;
            }
        }
        .name{
            display: block;
            color: #333;
            font-size: 16px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .btn:hover,
        .btn{
            background: $dangerColor;
            color:#fff;
            border-color: transparent;
            padding: 0 7px;
            font-size: 13px;
            display: block;
            margin-top: 15px;
        }
    }
}
.notes_section{
    .all_notes_list{
        max-height: 300px;
        overflow: auto;
    }
    .note_item_wraper{
        margin:10px 0 ;
        border:1px solid rgba(0,0,0,.06);
        padding:5px 10px;
    }
    .note_controller{
        display: flex;
        clear: both;
        margin: 15px 0 0 0;
        
        justify-content: space-between;
        padding: 7px 30px;
    }
    .note_controller span{
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.05);
        display: block;
        padding: 5px 15px;
        border-radius: 30px;
    }
    .note_controller span.delete{
        color:$dangerColor;
    }
}
.footer_banner{
    background: linear-gradient(rgba(0,0,0,0) 75%,#0d2e41 25%);
    margin:70px 0 0 0;
    padding: 0;
    text-align: center;
    img{
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
    }
}
.main_fotoer{
    background-color: #1d3c4e;
    padding:20px 0;
    color:#fff;
    margin-top: 50px;
    .copy_wraper{
        justify-content: space-between;
        p{
            margin:0;
            padding:0;
            font-size: 14px;
        }
    }
}
.rs_grid_wraper{
    .ag-root-wrapper {
        border: 0 none !important;
    }
    .ag-row{
        color: #0D2E41;
        background-color: #fff;
    }
    .ag-row-odd {
        background-color: #f2f6f7;
        
    }
    .grid_actions_buttons{
        margin-bottom: 20px;
        .rs_btn {
            padding: 4px 15px;
            font-size: 14px;
        }
    }
}
.del_btn_icon{
    width: 20px;
    height: auto;
    cursor:pointer;
}
.access_list{
    .access_actions{
        text-align: right;
        overflow: hidden;
        .delete_btn{
            background: $dangerColor;
            border-color: $dangerColor;
            width: auto;
            float: right;
            padding: 5px 10px;
            color: #fff;
            opacity: 1;
            transition: all .5s;
            margin: 1px auto;
            display: block;
         
        }
    }
}
.select2-container .select2-selection--single{
    height: 40px !important;
}
