@import 'color','variables';
body{
    font-family: $fontFamily;
    font-weight: 400;
    font-size: 14px;
    color: $textColor;
}
.rs_btn{
    background-color: $btnBackgroundColor;
    border-color: $btnBorderColor;
    color:$btnColor;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 4px;
}
.rs_btn:hover{
    background-color: $primaryColor;
    border-color: $primaryColor;
    color:#fff;
}
.form-group {
    margin-bottom: 20px;
    label{
        font-size: 14px;
        display: block;
        margin-bottom: 5px;
        font-family: $fontFamily;
    }
    .rs_input_box_wraper{}
    .form-control {
        font-family: $fontFamily;
        border-radius: 2px;
        height: 40px;
        margin: 0;
        border: 1px solid #d4ded9;
        outline: none !important;
        box-shadow: none !important;
    }
}
.login_register_page{
    margin:0;
    padding: 0;
    background-color: #E7EDEE;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .header_login_register{
        margin-bottom: auto;
    }
    .form_box{
        background: #fff;
        margin: 0 auto auto auto ;
        display: block;
        width: 500px;
        box-sizing: border-box;
        padding: 50px 30px;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        .logo_login{
            display: block;
            text-align: center;
            margin: 0 0 30px 0;
        }
        .logo_login img{
            display: inline-block;
            margin:0 auto;
        }
    }
    .btn_links{
        justify-content: space-between;
        align-items: center;
        .link{
            color:$textColor;
            font-weight: 500;
            text-decoration: none;
        }
    }
}
